<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kitty.androidtest.activity"
    android:versionCode="1"
    android:versionName="2.6.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ActivityTheme">
        
        <activity
            android:name="com.kitty.androidtest.activity.ThreadTestActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.kitty.androidtest.activity.LvTestActivity"
            android:label="@string/app_name" />
        
        <activity
            android:name="com.kitty.androidtest.activity.GoneWhileClickActivity"
            android:label="@string/app_name" />
        
        <activity
            android:name="com.kitty.androidtest.activity.GetResolutionActivity"
            android:label="@string/app_name" />
        
        <activity
            android:name="com.kitty.androidtest.activity.WeiBoActivity"
            android:label="@string/app_name" />
        
        <activity
            android:name="com.kitty.androidtest.activity.FragmentChangeActivity"
            android:label="@string/app_name" />
        
        <activity
            android:name="com.kitty.androidtest.activity.TestBedDSLV"
            android:label="@string/app_name" />
        
        <activity
            android:name="com.kitty.androidtest.activity.ImageLoaderActivity"
            android:label="@string/app_name" />
        
        <!-- fragment切换动画 -->
        <activity
            android:name="com.kitty.androidtest.fragmentanim.FAMainActivity"
            android:label="@string/app_name" />
        
        <!-- 布局动画 -->
        <activity
            android:name="com.kitty.androidtest.layoutanim.LAActivity"
            android:label="@string/app_name" />
        
        <!-- 下拉刷新 -->
        <activity
            android:name="com.kitty.androidtest.pull2refresh.PTRActivity"
            android:label="@string/app_name" />
        
        <activity
            android:name="com.kitty.androidtest.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- ImageLoader Demo -->
        <activity
            android:name="com.kitty.androidtest.imageloaderdemo.ImageListActivity"
            android:label="@string/ac_name_image_list" />
        <activity
            android:name="com.kitty.androidtest.imageloaderdemo.ImageGridActivity"
            android:label="@string/ac_name_image_grid" />
        <activity
            android:name="com.kitty.androidtest.imageloaderdemo.ImagePagerActivity"
            android:label="@string/ac_name_image_pager" />
        <activity
            android:name="com.kitty.androidtest.imageloaderdemo.ImageGalleryActivity"
            android:label="@string/ac_name_image_gallery" />
        
        <!-- UPNP Demo-->
        <activity android:name="com.kitty.androidtest.activity.BrowserActivity"/>
        <activity android:name="com.kitty.androidtest.activity.LightActivity"/>
        <activity android:name="com.kitty.androidtest.upnpclient.LightControllerActivity"/>
        <service android:name="org.fourthline.cling.android.AndroidUpnpServiceImpl"/>
                
    </application>

</manifest>